<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body style="background-color: #E3F9F6; text-align:center;">
    <h1>__THE__TODO__LIST__</h1>
    <p><em>Here is a page that helps you store all important tasks of your day be that groceries or office work.....Enter title 
        and description.Don't feel like keeping the memo delelte it asap!....;)
    </em></p>
    <form action="/addTodoItem/" method = "post">
        {% csrf_token %}
        <input type="text" name="content">
        <input type="submit" value="Add Todo Item">
    </form> 
    <ul>
        {% for i in all_items %} 
        <li>{{i.content}}
        </li>
        <form action="/deleteTodoItem/{{i.id}}/" method = "post">{% csrf_token %}
            <input type="submit" value="Delete">
            </form>  
        
        {% endfor %}
    </ul> 
    
    
</body>
</html>